MONGO_URI=mongodb://<username>:<password>@localhost:27017/Workspace-Hub?authSource=admin
PORT=<port_number>
SALT=<salt_value>
ACCESS_TOKEN_SIGNATURE=<access_token_signature>
REFRESH_TOKEN_SIGNATURE=<refresh_token_signature>
EMAIL_USER=<senders_email_id>
EMAIL_PASS=<gmail_app_password>
NODE_ENV=<development_or_production>